In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\james\anaconda3\lib\site-packages (0.24.2)
Requirement already satisfied: numpy>=1.12.0 in c:\users\james\anaconda3\lib\site-packages (from pandas) (1.16.2)
Requirement already satisfied: pytz>=2011k in c:\users\james\anaconda3\lib\site-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\james\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: six>=1.5 in c:\users\james\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [1]:
import pandas as pd
import numpy as np
import requests # library to handle requests
import json # library to handle JSON files
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

!pip install sklearn
from sklearn import linear_model

Collecting package metadata: ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Requirement already satisfied: sklearn in c:\users\james\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\james\anaconda3\lib\site-packages (from sklearn) (0.20.3)
Requirement already satisfied: scipy>=0.13.3 in c:\users\james\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.2.1)
Requirement already satisfied: numpy>=1.8.2 in c:\users\james\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.16.2)

In [2]:
#Gather UK average house price data 
df = pd.read_csv("http://publicdata.landregistry.gov.uk/market-trend-data/house-price-index-data/Average-prices-2019-01.csv")
#df = pd.read_csv("http://publicdata.landregistry.gov.uk/market-trend-data/house-price-index-data/UK-HPI-full-file-2019-01.csv")
print(df.shape)

#Remove historical data
df= df[df['Date']==df['Date'].max()]

#remove unneeded columns
df.drop(columns=['Date','Monthly_Change','Annual_Change','Average_Price_SA'], inplace=True)
df.dropna(inplace=True)
print(df.shape)

#Exclude not London boroughs
#Area code - Code of geography (Country, Regional, County/Unitary/District Authority and London Borough)
included_areas = ['E09']
for area in included_areas:
    df = df[df['Area_Code'].str.slice(stop=3)==area]

#df = df[(df['Region_Name']=="City of Westminster")]
print(df.shape)

(125874, 7)
(441, 3)
(33, 3)

In [3]:
#Add lontitude and lattitude data
addresses = df['Region_Name']
latitude = []
longitude = []

for address in addresses:
    geolocator = Nominatim(user_agent="ny_explorer")
    location = geolocator.geocode(address+", London, UK")
    try:
        latitude.append(location.latitude)
        longitude.append(location.longitude)
    except:
        latitude.append(0)
        longitude.append(0)
        
df['Latitude']= latitude
df['Longitude']= longitude

In [5]:
#remove regions that location information was not available
df = df[(df['Latitude']!=0)| (df['Longitude']!=0)]
print(df.shape[0])
df.head()

33

                 Region_Name  Area_Code  Average_Price   Latitude  Longitude
125514   City of Westminster  E09000033    959466.0747  51.497321  -0.137149
125524        City of London  E09000001    868257.9880  51.515618  -0.091998
125525  Barking and Dagenham  E09000002    299399.3694  51.554117   0.150504
125526                Barnet  E09000003    516915.9846  51.648784  -0.172913
125527                Bexley  E09000004    341059.9194  51.441679   0.150488

In [6]:
CLIENT_ID = 'QKP4KVQQZPVXMOKNIXHGQAT1E2IJZCHQPFB4XJGP3MC0CFUO' # your Foursquare ID
CLIENT_SECRET = '1N5BIRBR1EA5CO1QFMNHU1241SOFM5KJLLQRJGMDC0NOYWPH' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version
LIMIT = 200 # limit of number of venues returned by Foursquare API
radius = 1000 # define radius
categoryId = ''

In [9]:
#What are the most popular places nearby?

def getNearbyVenues(names, latitudes, longitudes, avg_price, radius=1000):
    
    
    region_list = []
    price_list = []
    
    for name, lat, lng, price in zip(names, latitudes, longitudes, avg_price):
                    
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/search?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}&categoryId={}'.format(    
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT,
            categoryId)
        
        #print(url) 
        
        # make the GET request
        results = requests.get(url).json()["response"]
        
        #flatten JSON file
        resultsVen = json_normalize(results['venues'])
        resultsCat = json_normalize(data=results['venues'], record_path=['categories'], record_prefix='cat_', errors='ignore')
        resultsVenCat = pd.concat([resultsVen, resultsCat], axis=1)
        resultsVenCat = resultsVenCat[['name','location.distance','location.formattedAddress','location.lat','location.lng','cat_name']]
        
        #Add region name and average price 
        for i in range(0,resultsVen.shape[0]):
            region_list.append(name)
            price_list.append(price)
        
        region_list = pd.DataFrame(region_list, columns=['Region Name'])
        price_list = pd.DataFrame(price_list, columns=['Region Avg Price'])
        
        nearbyVenues = pd.concat([region_list, price_list, resultsVenCat], axis=1)

    return(nearbyVenues)

In [12]:
london_venues = pd.DataFrame()

#request venue information for each region and store in regions_venues
for region in df['Region_Name'].unique():
    region_venues = df[df['Region_Name']==region]
    london_venues = london_venues.append((getNearbyVenues(names=region_venues['Region_Name'],
                                                  latitudes=region_venues['Latitude'],
                                                  longitudes=region_venues['Longitude'],
                                                  avg_price=region_venues['Average_Price'])),ignore_index=True)
    
#rename columns
london_venues.rename(columns={'name':'Venue Name',
                          'location.distance':'Venue Distance',
                          'location.formattedAddress':'Venue Address',
                          'location.lat':'Venue Lat',
                          'location.lng':'Venue Lng',
                          'cat_name':'Venue Category'}, inplace=True)

print(london_venues.shape)
london_venues.head()

(5026, 9)

,Region Name,Region Avg Price,id,Venue Name,Venue Distance,Venue Address,Venue Lat,Venue Lng,Venue Category
0,City of Westminster,959466.0747,539b3d72498e723ddb200888,All Bar One,13,"[58 Victoria St, Victoria, Greater London, SW1...",51.497418,-0.137043,Bar
1,City of Westminster,959466.0747,51c45c79498e5b520884daa8,Little Waitrose & Partners,13,"[62 Victoria St, Greater London, SW1E 6QP, Uni...",51.497443,-0.137177,Grocery Store
2,City of Westminster,959466.0747,5058b2f0e4b0b3664866a87d,Labour Party HQ,61,"[105 Victoria St (Southside), London, Greater ...",51.496948,-0.137801,Non-Profit
3,City of Westminster,959466.0747,52c9c91f498e32efeefe8556,Leon,51,"[Unit 3, 56 Victoria St, London, Greater Londo...",51.497495,-0.136464,Fast Food Restaurant
4,City of Westminster,959466.0747,4adde2b2f964a520236621e3,Boots,20,"[107 Victoria Street, London, Greater London, ...",51.497249,-0.137414,Pharmacy

In [13]:
# one hot encoding
london_onehot = pd.get_dummies(london_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
london_onehot['Average Price'] = london_venues['Region Avg Price'] 
london_onehot['Region Name'] = london_venues['Region Name'] 

#Reorder headings
fixed_columns = [london_onehot.columns[-1]] + [london_onehot.columns[-2]] + list(london_onehot.columns[:-2])
london_onehot = london_onehot[fixed_columns]

#Group by London Borough
df1 = london_onehot.groupby(['Region Name','Average Price']).sum()
df1.reset_index(inplace=True)
df1.head()

,Region Name,Average Price,Accessories Store,Adult Education Center,Advertising Agency,Afghan Restaurant,African Restaurant,American Restaurant,Animal Shelter,Antique Shop,...,Warehouse,Warehouse Store,Whisky Bar,Wine Bar,Wine Shop,Winery,Wings Joint,Women's Store,Yoga Studio,Zoo Exhibit
0,Barking and Dagenham,299399.3694,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
1,Barnet,516915.9846,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Bexley,341059.9194,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
3,Brent,476933.0759,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Bromley,443289.1746,2,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,4,0,0

In [14]:
df_features = pd.DataFrame(df1.columns)
df_features = df_features.iloc[2:df1.shape[1], :]
df_features.reset_index(inplace=True)

In [16]:
regr = linear_model.LinearRegression()
x = df1.iloc[:, 2:df1.shape[1]]
y=df1[['Average Price']]
regr.fit(x, y)


coefs = pd.DataFrame(regr.coef_).T


df_coef = pd.concat([df_features, coefs],axis=1,ignore_index=True)
df_coef.drop(columns=0, inplace=True)
df_coef.rename(columns={1:'Venue Category',2:'Coefficient'}, inplace=True)
df_coef.sort_values(by=['Coefficient'],inplace=True)

print ('Coefficients: ', regr.coef_)
print ('Intercept: ',regr.intercept_)

Coefficients:  [[-3.85392914e+03 -5.72399489e+03 -7.60439865e+02 -7.54245598e+02
  -1.88536209e+03  1.37655273e+03  1.26451237e+03  8.41594150e+03
  -6.50981265e+03 -2.88100039e+02 -2.89272375e+03 -1.90812414e+02
  -2.45541432e+03  8.50338231e+03 -7.90726334e+03  1.08972777e+04
  -4.21067213e+03 -3.51909553e+03 -2.80327699e+03 -2.48286081e+02
   3.26810350e+03 -2.94952353e+03 -1.29836235e+03  2.38992441e+03
  -1.16766984e+03  3.00237401e+03 -7.57595857e+02  1.18832235e+04
   6.69167938e+03  3.37135612e+03 -1.47276538e+03  9.62687021e+00
   1.05208062e+03 -1.40562317e+03 -4.51342568e+03  5.44950854e+02
  -5.48091085e+02  7.50058842e+03  6.94900367e+03 -2.99493548e+03
  -2.77439591e+02  5.38601219e+03  5.50630975e+03 -5.10426991e+03
  -7.53004692e+02 -8.66450441e+01 -1.96500509e+03  1.27694325e+03
   2.19879838e+02 -3.89098350e+03 -3.19042725e+03  5.35915927e+02
  -2.33253667e+02  1.46574640e+04 -8.13561561e+02  3.93903297e+03
  -2.32533592e+03 -3.97893403e+03  5.22437970e+03  5.61225508e+03
  -3.43139895e+03 -9.91105156e+02  4.56653610e+03 -1.34524892e+03
  -1.67667700e+03 -5.36526002e+02 -2.50648299e+02  3.49120052e+03
   5.34336916e+02  9.30855789e+02  5.00414900e-01 -7.44185950e+02
  -6.01300533e+03  5.79123454e+02 -1.32716234e+03  4.99434604e+03
  -1.72424815e+03  4.47827228e+02 -5.99805766e+03 -8.13561561e+02
   4.56510054e+03 -1.57240416e+02  1.61814884e+02 -3.31959392e+03
  -1.87961490e+03 -9.48657416e+03 -2.18813178e+03  5.69550696e+03
   8.22469471e+03  3.83762566e+03 -9.68028073e+02  4.91107589e+02
   4.71707330e+03  2.81168047e+02  1.12451569e+03  1.18454668e+01
   2.99273105e+02  2.99273105e+02  2.43224007e+02  8.70457410e+01
   1.77667244e+03 -5.19942739e+02 -9.93518102e+02 -8.61477116e+03
  -2.47276934e+03 -2.05176056e+02 -5.36526002e+02 -4.87403317e+03
  -3.01313962e+03  6.16313286e+02  1.37107124e+03  2.40057313e+03
  -1.60979961e+04  8.64741564e+02  6.16313286e+02  7.46728262e+03
   5.95865347e+02  9.25412424e+03  6.16313286e+02 -1.22796995e+03
  -5.60179745e+03 -3.52253866e+03 -5.35220229e+02  9.26380299e+03
  -4.75547279e+03  1.61814884e+02  3.18694931e+03  1.23193517e+04
   2.04180316e+03  1.58508869e+04 -2.19134946e+03 -2.76161155e+03
  -3.43510469e+03 -3.45532859e+02 -8.99039549e+02  1.44415730e+04
  -5.81222501e+01  6.90524319e+03  2.99273105e+02 -5.40509872e+03
   3.28064348e+02 -3.21441876e+03 -2.66589881e+03  1.69091248e+02
   3.52169596e+03  1.44033661e+02 -1.13068872e+03 -1.92668722e+03
  -9.70334936e+03 -4.63732597e+03 -7.10507762e+03 -1.17833785e+02
  -2.33253667e+02 -5.88756866e+02 -5.38299134e+02  4.47827228e+02
   2.60832896e+03  2.28577746e+03 -2.09279321e+03  6.16313286e+02
   1.14305564e+03 -4.10909346e+03 -5.69874417e+02 -6.76852204e+00
  -7.15303559e+03 -1.20769528e+04  1.38518425e+03 -5.42810128e+03
   3.23629768e+02  1.70081498e+04 -2.34351633e+02 -8.86621696e+02
   3.40786611e+03 -4.92267904e+03 -4.93667161e+03 -8.80934846e+01
  -4.46798709e+03 -9.67545569e+02 -2.90001416e+03  1.77507399e+03
   3.84080616e+03 -1.44391494e+03  9.88481872e+02 -9.91279358e+03
   6.87773975e+02 -1.59043252e+03 -4.82267930e+03  6.18459636e+03
  -1.88418025e+03  9.18552090e+02  9.22129911e+03  3.07412999e+03
  -5.18101722e+03 -5.54507572e+02 -6.15362988e+02  8.73353203e+03
   6.10197729e+03 -2.51476888e+02  1.85639406e+02 -6.45407195e+03
   6.21820993e+02 -8.32347715e+03 -2.27128631e+03  6.62093818e+03
  -2.30211349e+02  4.41600846e+02 -2.05176056e+02  2.26344068e+03
  -8.13561561e+02  4.47827228e+02 -1.17751373e+03 -2.78177657e+03
  -4.26334745e+03 -5.38299134e+02 -1.32357110e+03 -3.31959392e+03
  -4.97747851e+03 -2.18342055e+03  1.06867383e+03  3.93041773e+01
  -6.56215491e+03  3.51228920e+03 -1.55385391e+03 -3.16623360e+03
  -5.57420204e+02 -1.04112321e+03  1.61814884e+02 -2.03890095e+03
  -1.55676180e+03  2.99034646e+03 -5.38299134e+02  2.80940916e+02
   5.35915927e+02  9.37153473e+01 -9.99560533e+03 -5.88756866e+02
   1.67585383e+03 -4.08484674e+02 -2.16242580e+03  5.24136328e+03
   2.26132372e+03 -1.97153657e+03  3.59054592e+03  7.95172046e+02
   2.18803477e+03  3.70757956e+03  6.05422714e+03 -7.53004692e+02
  -3.10951682e+03  4.45704430e+03 -2.55792230e+03  7.44329316e+03
   6.16313286e+02  2.72554677e+03 -2.78177657e+03 -2.90467740e+03
  -2.24277824e+03  1.11380618e+04 -1.55808807e+01 -5.88752128e+02
  -4.04417108e+02 -5.90782840e+03 -8.66450441e+01  6.32892949e+03
   4.99434604e+03 -1.10207564e+02 -5.36526002e+02 -3.30150079e+03
   4.64109303e+03  2.99273105e+02  3.79691947e+03  2.87474055e+02
  -1.99758505e+02  5.79500256e+03  5.34336916e+02  1.97081754e+02
  -8.58901868e+03 -1.06931700e+02 -1.87869545e+03 -7.54539667e+03
   3.14781734e+02  5.20066544e+03 -8.61275451e+03 -7.99107970e+03
  -4.57078561e+02 -2.05176056e+02 -3.36123636e+03  7.02545884e+03
   3.33391593e+03  1.32605682e+03  1.77172830e+02 -9.31931621e+02
  -3.04037530e+03  1.61814884e+02  3.62838094e+02  2.22219656e+04
   1.75130987e+02 -3.68592643e+02  2.48584588e+03 -1.45111841e+03
  -5.99627803e+03 -2.03890095e+03 -4.74518224e+02 -3.56812170e+03
  -1.70508676e+02 -5.36526002e+02 -3.39158779e+03  1.09573492e+04
   2.12396110e+03  3.07642327e+03 -8.13561561e+02  8.91806072e+02
   4.99434604e+03 -6.67763925e+02 -6.28130921e+02 -6.01800482e+03
   8.38997361e+03  1.51632417e+04  8.63795164e+02  5.49847137e+03
  -3.01598634e+03  7.92569021e+02  3.10461051e+03 -8.55071108e+02
  -2.92345728e+03 -2.05176056e+02  8.06954011e+03  5.44950854e+02
   3.60428424e+03 -1.51308545e+04 -7.70775051e+02  6.91274367e+02
   2.81168047e+02 -6.86401672e+03  2.11739467e+03  1.03833405e+03
  -5.88756866e+02 -8.66450441e+01  5.18009062e+02 -1.57700747e+03
   1.79015758e+03  9.63812659e+03  1.70393305e+03  4.06377680e+02
  -5.16590387e+03  1.45920525e+03 -4.52443022e+03 -7.53004692e+02
  -2.41676158e+03  5.91126032e+03  9.25689781e+03 -5.49038333e+03
   4.99434604e+03  2.99273105e+02  3.09644096e+03 -3.08674873e+03
   3.37045081e+03  6.52384769e+01  1.13175529e+03 -4.16472983e+02
  -8.17103576e+03  5.52935235e+03 -7.86455009e+03 -5.72792002e+02
   2.43224007e+02 -7.35960093e+02  3.14663829e+03 -5.36526002e+02
   1.76414479e+02 -6.91345580e+03 -8.99039549e+02  1.97703139e+01
   2.99273105e+02  1.05208062e+03 -3.68592643e+02 -7.35960093e+02
   1.61814884e+02  2.74082781e+04 -4.09968954e+03  8.32225128e+02
   1.13492097e+04  2.44321983e+03  1.15857362e+03 -1.12884105e+03
   6.83023711e+02  3.12570891e+03 -2.38082688e+03 -1.37183105e+03
   1.23138124e+03 -5.06027118e+03 -2.96128405e+03 -4.46476129e+03
  -9.07907790e+02  1.81779715e+03 -1.33771873e+03  6.85681704e+02
   6.70528041e+03 -4.99780267e+03  1.53545785e+03 -6.14668435e+03
   6.16313286e+02  2.57165241e+03  1.14365440e+04 -6.35529843e+02
   5.12384693e+03 -2.99694732e+03  1.07172047e+03  5.18009062e+02
   3.75336766e+03 -5.32620645e+02 -1.79461179e+03 -5.08918805e+03
  -2.05176056e+02 -6.82460661e+03 -1.99976693e+03 -5.88756866e+02
  -8.66450441e+01  7.98677888e+03 -4.50500082e+03  5.38414895e+02
  -2.03890095e+03  5.44950854e+02 -6.29384097e+02  3.76653120e+03
  -2.47927191e+03 -4.08686348e+03 -2.33253667e+02 -3.93604130e+02
  -2.39464557e+03  3.54992472e+03  2.99273105e+02 -2.78118272e+03
   8.65008081e+03  2.43224007e+02 -5.38299134e+02 -8.63241654e+03
   6.17356898e+03 -5.56355313e+03]]
Intercept:  [361720.73703206]

In [146]:
print ('Intercept: ',regr.intercept_)

Intercept:  [361310.40002977]