In [2]:
import pandas as pd
#import numpy as np
#import requests # library to handle requests
#import json # library to handle JSON files
#from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

#!conda install -c conda-forge geopy --yes 
#from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

Solving environment: done


==> WARNING: A newer version of conda exists. <==
  current version: 4.5.11
  latest version: 4.6.13

Please update conda by running

    $ conda update -n base conda



# All requested packages already installed.

In [4]:
min_date = "1+February+2019"
df = pd.read_csv("http://landregistry.data.gov.uk/app/ppd/ppd_data.csv?et%5B%5D=lrcommon%3Afreehold&et%5B%5D=lrcommon%3Aleasehold&header=true&limit=all&min_date=1+February+2019&nb%5B%5D=true&nb%5B%5D=false&ptype%5B%5D=lrcommon%3Adetached&ptype%5B%5D=lrcommon%3Asemi-detached&ptype%5B%5D=lrcommon%3Aterraced&ptype%5B%5D=lrcommon%3Aflat-maisonette&ptype%5B%5D=lrcommon%3AotherPropertyType&tc%5B%5D=ppd%3AstandardPricePaidTransaction&tc%5B%5D=ppd%3AadditionalPricePaidTransaction",  header=None)

(23674, 16)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,8355F008-FE01-55C5-E053-6B04A8C0D090,770000,2019-02-01,AL1 1DU,D,N,F,NaN,49,NAPSBURY LANE,NaN,ST ALBANS,ST ALBANS,HERTFORDSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...
1,8355F008-FE0A-55C5-E053-6B04A8C0D090,535000,2019-02-08,AL1 1NE,T,N,F,NaN,4,PAGEANT ROAD,NaN,ST ALBANS,ST ALBANS,HERTFORDSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...
2,8355F008-FEF1-55C5-E053-6B04A8C0D090,822000,2019-02-15,AL1 1SJ,S,N,F,NaN,11,RAMSBURY ROAD,NaN,ST ALBANS,ST ALBANS,HERTFORDSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...
3,8355F008-FF0E-55C5-E053-6B04A8C0D090,425000,2019-02-14,AL1 2LT,T,N,F,NaN,48,HOLYROOD CRESCENT,NaN,ST ALBANS,ST ALBANS,HERTFORDSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...
4,8355F009-003B-55C5-E053-6B04A8C0D090,280000,2019-02-22,AL1 3PF,F,N,L,10,THIRLESTANE,LEMSFORD ROAD,NaN,ST ALBANS,ST ALBANS,HERTFORDSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...

In [6]:
headers = ['unique_id','price_paid','deed_date','postcode','property_type','new_build','estate_type','saon','paon','street','locality','town','district','county','transaction_category','linked_data_uri']
#df.rename(columns=headers)
df.columns = headers
print(df.shape)
df.head()

(23674, 16)

,unique_id,price_paid,deed_date,postcode,property_type,new_build,estate_type,saon,paon,street,locality,town,district,county,transaction_category,linked_data_uri
0,8355F008-FE01-55C5-E053-6B04A8C0D090,770000,2019-02-01,AL1 1DU,D,N,F,NaN,49,NAPSBURY LANE,NaN,ST ALBANS,ST ALBANS,HERTFORDSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...
1,8355F008-FE0A-55C5-E053-6B04A8C0D090,535000,2019-02-08,AL1 1NE,T,N,F,NaN,4,PAGEANT ROAD,NaN,ST ALBANS,ST ALBANS,HERTFORDSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...
2,8355F008-FEF1-55C5-E053-6B04A8C0D090,822000,2019-02-15,AL1 1SJ,S,N,F,NaN,11,RAMSBURY ROAD,NaN,ST ALBANS,ST ALBANS,HERTFORDSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...
3,8355F008-FF0E-55C5-E053-6B04A8C0D090,425000,2019-02-14,AL1 2LT,T,N,F,NaN,48,HOLYROOD CRESCENT,NaN,ST ALBANS,ST ALBANS,HERTFORDSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...
4,8355F009-003B-55C5-E053-6B04A8C0D090,280000,2019-02-22,AL1 3PF,F,N,L,10,THIRLESTANE,LEMSFORD ROAD,NaN,ST ALBANS,ST ALBANS,HERTFORDSHIRE,A,http://landregistry.data.gov.uk/data/ppi/trans...