In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\james\anaconda3\lib\site-packages (0.24.2)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\users\james\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied: numpy>=1.12.0 in c:\users\james\anaconda3\lib\site-packages (from pandas) (1.16.2)
Requirement already satisfied: pytz>=2011k in c:\users\james\anaconda3\lib\site-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in c:\users\james\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas) (1.12.0)

In [2]:
import pandas as pd
import numpy as np
import requests # library to handle requests
import json # library to handle JSON files
from pandas.io.json import json_normalize # tranform JSON file into a pandas dataframe

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

!pip install sklearn
from sklearn import linear_model

Collecting package metadata: ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Requirement already satisfied: sklearn in c:\users\james\anaconda3\lib\site-packages (0.0)
Requirement already satisfied: scikit-learn in c:\users\james\anaconda3\lib\site-packages (from sklearn) (0.20.3)
Requirement already satisfied: scipy>=0.13.3 in c:\users\james\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.2.1)
Requirement already satisfied: numpy>=1.8.2 in c:\users\james\anaconda3\lib\site-packages (from scikit-learn->sklearn) (1.16.2)

In [21]:
#Pull UK house purchase price data. Limit to recent purchases in London.
min_date = "1+February+2019"
county = "LONDON"
csv_link = "http://landregistry.data.gov.uk/app/ppd/ppd_data.csv?county={}&et%5B%5D=lrcommon%3Afreehold&et%5B%5D=lrcommon%3Aleasehold&header=true&limit=all&min_date={}&nb%5B%5D=true&nb%5B%5D=false&ptype%5B%5D=lrcommon%3Adetached&ptype%5B%5D=lrcommon%3Asemi-detached&ptype%5B%5D=lrcommon%3Aterraced&ptype%5B%5D=lrcommon%3Aflat-maisonette&ptype%5B%5D=lrcommon%3AotherPropertyType&tc%5B%5D=ppd%3AstandardPricePaidTransaction&tc%5B%5D=ppd%3AadditionalPricePaidTransaction".format(county, min_date)

df = pd.read_csv(csv_link, header=None)

#Update column headers
headers = ['unique_id','price_paid','deed_date','postcode','property_type','new_build','estate_type','saon','paon','street','locality','town','district','county','transaction_category','linked_data_uri']
df.columns = headers

print(df.shape)

(2308, 16)

In [23]:
#Limit to flats purchased in London, that are not new builds

df = df[df['transaction_category']=='A']
df = df[df['property_type']=='F']
df = df[df['new_build']=='N']
#df = df[df['county']=='GREATER LONDON']

#Drop unwanted columns
df.drop(columns=['unique_id','deed_date', 'property_type', 'new_build','estate_type','saon','paon','locality','district','transaction_category','linked_data_uri'], inplace=True)

#Drop duplicate postcodes
df.drop_duplicates(subset=['postcode'], inplace=True)

#df = df[0:5]

print(df.shape)
df.head()

(777, 5)

    price_paid postcode           street     town          county
5       240000  BR1 3AG   FREELANDS ROAD  BROMLEY  GREATER LONDON
6       315000  BR1 3AX     WIDMORE ROAD  BROMLEY  GREATER LONDON
13      280000  BR1 3TY    OAKLANDS ROAD  BROMLEY  GREATER LONDON
24      200000  BR2 0AB     BROMLEY ROAD  BROMLEY  GREATER LONDON
25      280000  BR2 0JW  BECKENHAM GROVE  BROMLEY  GREATER LONDON

In [24]:
#Add lontitude and lattitude data
addresses = df['postcode']
latitude = []
longitude = []

for address in addresses:
    geolocator = Nominatim(user_agent="ny_explorer")
    location = geolocator.geocode(address+", UK", timeout=2)
    try:
        latitude.append(location.latitude)
        longitude.append(location.longitude)
    except:
        latitude.append(0)
        longitude.append(0)
        
df['Latitude']= latitude
df['Longitude']= longitude

In [25]:
#remove regions that location information was not available
df = df[(df['Latitude']!=0)| (df['Longitude']!=0)]

#df.head(10)
print(df.shape[0])

769

In [26]:
#Foursquare credentials
CLIENT_ID = 'QKP4KVQQZPVXMOKNIXHGQAT1E2IJZCHQPFB4XJGP3MC0CFUO' # your Foursquare ID
CLIENT_SECRET = '1N5BIRBR1EA5CO1QFMNHU1241SOFM5KJLLQRJGMDC0NOYWPH' # your Foursquare Secret
VERSION = '20180605' # Foursquare API version
LIMIT = 200 # limit of number of venues returned by Foursquare API
radius = 100 # define radius
categoryId = ''

In [27]:
#What are the most popular places nearby?

def getNearbyVenues(names, latitudes, longitudes, avg_price, radius=100):
   
    region_list = []
    price_list = []
    
    for name, lat, lng, price in zip(names, latitudes, longitudes, avg_price):
                    
        # create the API request URL
        #url = 'https://api.foursquare.com/v2/venues/search?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
        url = 'https://api.foursquare.com/v2/venues/search?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}&categoryId={}'.format(    
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT,
            categoryId)
        
        #print(url) 
        
        # make the GET request
        results = requests.get(url).json()["response"]
        
        #flatten JSON file
        resultsVen = json_normalize(results['venues'])
        resultsCat = json_normalize(data=results['venues'], record_path=['categories'], record_prefix='cat_', errors='ignore')
        resultsVenCat = pd.concat([resultsVen, resultsCat], axis=1)
        resultsVenCat = resultsVenCat[['name','location.distance','location.formattedAddress','location.lat','location.lng','cat_name']]
               
        #Add region name and average price 
        for i in range(0,resultsVen.shape[0]):
            region_list.append(name)
            price_list.append(price)
        
        region_list = pd.DataFrame(region_list, columns=['Property Postcode'])
        price_list = pd.DataFrame(price_list, columns=['Property Price'])
        
        nearbyVenues = pd.concat([region_list, price_list, resultsVenCat], axis=1)

    return(nearbyVenues)

In [28]:
london_venues = pd.DataFrame()

#request venue information for each postcode
for region in df['postcode']:
    region_venues = df[df['postcode']==region]
    london_venues = london_venues.append((getNearbyVenues(names=region_venues['postcode'],
                                                  latitudes=region_venues['Latitude'],
                                                  longitudes=region_venues['Longitude'],
                                                  avg_price=region_venues['price_paid'],
                                                  radius=radius)),ignore_index=True)
    
#rename columns
london_venues.rename(columns={'name':'Venue Name',
                          'location.distance':'Venue Distance',
                          'location.formattedAddress':'Venue Address',
                          'location.lat':'Venue Lat',
                          'location.lng':'Venue Lng',
                          'cat_name':'Venue Category'}, inplace=True)

print(london_venues.shape)
london_venues.head()

,Property Postcode,Property Price,Venue Name,Venue Distance,Venue Address,Venue Lat,Venue Lng,Venue Category
0,BR1 3AG,240000,Village Stores,239,"[Bromley, Greater London, BR1 3HZ, United King...",51.410290,0.024560,Convenience Store
1,BR1 3AG,240000,wagamama,627,"[intu Shopping Centre (High St), Bromley, Grea...",51.404025,0.017960,Asian Restaurant
2,BR1 3AG,240000,Alan de Maid,622,"[The Old Municipal Buildings, 19 East Street, ...",51.406587,0.015505,Real Estate Office
3,BR1 3AG,240000,Sharps Bedrooms,499,"[24/30 Widmore Road, Bromley, Greater London, ...",51.406037,0.017762,Furniture / Home Store
4,BR1 3AG,240000,Coast,642,"[Unit 245 The Glades (High St), Bromley, Great...",51.404722,0.016671,Boutique

In [30]:
london_onehot = pd.get_dummies(london_venues[['Venue Category']], prefix="", prefix_sep="")
# add neighborhood column back to dataframe

london_onehot['Property Price'] = london_venues['Property Price'] 
london_onehot['Property Postcode'] = london_venues['Property Postcode'] 

#Reorder columns
fixed_columns = [london_onehot.columns[-1]] + [london_onehot.columns[-2]] + list(london_onehot.columns[:-2])
london_onehot = london_onehot[fixed_columns]

df1 = london_onehot.groupby(['Property Postcode','Property Price']).sum()
df1.reset_index(inplace=True)

print(df1.shape)
df1.head()

(769, 649)

,Property Postcode,Property Price,ATM,Accessories Store,Acupuncturist,Adult Boutique,Adult Education Center,Advertising Agency,Afghan Restaurant,African Restaurant,...,Whisky Bar,Windmill,Wine Bar,Wine Shop,Winery,Wings Joint,Women's Store,Xinjiang Restaurant,Yoga Studio,Zoo Exhibit
0,BR1 3AG,240000,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,4,0,0,0
1,BR1 3AX,315000,0,1,0,0,2,0,0,1,...,0,0,0,0,0,0,4,0,0,0
2,BR1 3TY,280000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,BR2 0AB,200000,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,BR2 0JW,280000,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0

In [70]:
pd.set_option('display.max_columns', 100)
df1[df1['College Cricket Pitch']>0]

,Property Postcode,Property Price,ATM,Accessories Store,Acupuncturist,Adult Boutique,Adult Education Center,Advertising Agency,Afghan Restaurant,African Restaurant,Airport,Airport Gate,Airport Lounge,Airport Service,Airport Terminal,Alternative Healer,American Restaurant,Animal Shelter,Antique Shop,Aquarium,Arcade,Arepa Restaurant,Argentinian Restaurant,Art Gallery,Art Museum,Art Studio,Arts & Crafts Store,Arts & Entertainment,Asian Restaurant,Assisted Living,Astrologer,Athletics & Sports,Auditorium,Australian Restaurant,Austrian Restaurant,Auto Dealership,Auto Garage,Auto Workshop,Automotive Shop,BBQ Joint,Baby Store,Bagel Shop,Baggage Locker,Bakery,Ballroom,Bank,Bar,Baseball Field,Basketball Court,Bath House,...,Town Hall,Toy / Game Store,Track,Track Stadium,Trade School,Trail,Trailer Park,Train Station,Tram Station,Transportation Service,Travel & Transport,Travel Agency,Travel Lounge,Tree,Tunnel,Turkish Restaurant,University,Urgent Care Center,Used Bookstore,Vacation Rental,Vape Store,Vegetarian / Vegan Restaurant,Venezuelan Restaurant,Veterinarian,Video Game Store,Video Store,Vietnamese Restaurant,Village,Vineyard,Volleyball Court,Voting Booth,Warehouse,Warehouse Store,Waste Facility,Watch Shop,Water Park,Waterfront,Wedding Hall,Weight Loss Center,Well,Whisky Bar,Windmill,Wine Bar,Wine Shop,Winery,Wings Joint,Women's Store,Xinjiang Restaurant,Yoga Studio,Zoo Exhibit
524,SW13 9EA,400000,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,3,0,0,0,0,0,0,1,1,0,0,0,0,0,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
657,TW12 1ND,624950,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,1,0

In [43]:
#Create dataframe of feature list
df_features = pd.DataFrame(df1.columns)
df_features = df_features.iloc[2:df1.shape[1], :]
df_features.reset_index(inplace=True)

In [65]:
regr = linear_model.LinearRegression()

#Set venues as features
x = df1.iloc[:, 2:df1.shape[1]]

#Set price as result(y)
y=df1[['Property Price']]

#Fit data
regr.fit(x, y)

#transpose feature coefficients and store in a dataframe
coefs = pd.DataFrame(regr.coef_).T

#Add feature labels and sort
df_coef = pd.concat([df_features, coefs],axis=1,ignore_index=True)
df_coef.drop(columns=0, inplace=True)
df_coef.rename(columns={1:'Venue Category',2:'Coefficient'}, inplace=True)
df_coef.sort_values(by=['Coefficient'],inplace=True)

print ('Coefficients: ', regr.coef_)
print ('Intercept: ',regr.intercept_)

Coefficients:  [[-3.88853703e+05 -4.32084081e+04 -1.56628207e+05 -3.03025303e+05
   1.15032012e+05  7.92065021e+04  1.21491790e+05  2.39810259e+04
  -2.73131110e+05  1.19556631e+06 -3.21202937e+05 -1.62447396e+05
   4.24408728e+05  1.94498334e+05 -9.46968172e+04 -1.13500999e+05
  -1.16592701e+04 -1.78957221e+04  1.94910673e+05 -3.74175888e+04
   3.56535006e+05 -3.68729026e+04 -2.40953293e+05 -1.52474277e+05
   3.06214400e+04 -2.18923669e+05  5.85797763e+03  6.22680736e+04
  -1.07662745e+05 -1.32699855e+04  3.25205858e+04  3.22346415e+05
   4.00077409e+05  6.40983504e+04 -2.51116068e+04  8.69532229e+04
  -1.41137678e+04 -6.29076071e+04  1.16460709e+04 -3.47661124e+04
  -1.46512813e+05  2.56135115e+04  9.36515901e+03 -1.59508952e+04
   1.22934985e+04 -2.26776540e+05 -4.46851231e+04  1.95882937e+06
   3.38427812e+05  2.83972879e+05  1.00965811e+05  1.36355286e+04
   5.26097035e+04 -9.91026398e+03  2.32511686e+05 -3.75359685e+05
  -5.07603613e+04  7.92340637e+04 -4.34508222e+04  3.94850320e+05
   5.60684900e+03  2.71205721e+05  1.17676347e+04  1.08916797e+05
   2.80671547e+04  6.23607233e+03 -3.67123795e+04  5.74422381e+05
  -6.29119753e+04  8.41138282e+04 -7.47300461e+04  4.60520657e+04
  -1.83426767e+05  1.24865772e+05  8.93357566e+04 -3.74484726e+04
   2.38218645e+04 -1.07622647e+04  2.00918092e+04 -9.82513258e+03
   3.01894983e+04 -1.65251746e+04 -2.67697206e+05 -3.33911803e+04
  -5.63190141e+05 -1.52116666e+04 -2.17796635e+03 -4.87529493e+03
   4.13849235e+04 -1.60521632e+05  6.14573566e+04  1.39263172e+05
   8.96900689e+04 -1.88171966e+03 -1.08390070e+05  7.07595846e+05
  -1.52747002e+05 -7.39649228e+04 -1.33265906e+05  4.61626352e+05
  -7.36001040e+03 -8.88617789e+04  1.60455476e+05  6.41236306e+04
  -1.25732406e+04 -3.46671535e+04  4.08798800e+04 -7.36777082e+04
  -9.10016412e+04 -4.04899800e+05  2.91856213e+04 -7.22619235e+04
   2.49035309e+05 -1.71104345e+05  3.12473275e+04 -4.95847695e+04
  -6.22402128e+03 -2.31177681e+04 -8.23729605e+04  1.81717043e+04
  -1.07916393e+06  2.03292136e+05  1.29977725e+05  8.43336594e+04
  -5.43857595e+04  4.50364949e+04 -2.09740026e+05  6.25333739e+04
  -2.59822853e+04 -3.18679676e+04  7.62787725e+03 -4.64151806e+04
   1.26361361e+03 -3.20287651e+04 -4.25377513e+05  1.32013249e+05
   1.63408304e+05 -2.40853879e+04 -1.04911426e+04  1.47716135e+06
   1.19014480e+05  1.24945352e+04  3.43227323e+05  1.64963162e+05
  -1.52457623e+05  3.92826223e+04  1.05514209e+04 -1.76669071e+05
  -1.47116517e+05  8.20955405e+03  7.12776460e+04 -5.00727175e+05
  -1.13433380e+06 -1.92379570e+05  8.12522833e+05 -1.04148118e+05
  -2.50175150e+05  1.75279272e+05 -5.76707670e+04  2.14854000e+05
   2.28407245e+04 -1.65808042e+04 -6.51845104e+04  4.24262982e+04
   1.62600474e+05 -1.54293351e+03  5.81560292e+04  4.85704140e+05
  -1.87023237e+05 -1.00320730e+05  4.83690012e+05  3.62429031e+04
   1.12075524e+05 -5.00179457e+05 -9.34260057e+04  1.17172916e+04
  -4.05195240e+03 -1.92637362e+05 -4.04523227e+05  1.25264668e+05
   4.20584659e+05 -1.21747448e+04  1.08456868e+05 -1.34687934e+05
   2.73245785e+05 -2.85693045e+05  1.64104382e+04 -2.35982229e+04
  -5.48741814e+04  1.83550065e+04 -1.30615208e+05  3.04111777e+04
  -4.62789208e+04  2.64787142e+05 -5.23658745e+04  9.07643429e+04
  -3.15499491e+05  8.90127095e+04  2.82039792e+04  1.54167703e+05
  -1.77870893e+04 -8.66631242e+04 -4.81832728e+04  2.14106626e+05
   1.58298716e+05  3.44509965e+04 -3.24058534e+05  5.60852972e+04
  -1.08141057e+05  4.03750327e+04  4.79594723e+04  4.93793825e+04
  -8.01138516e+03  5.41639841e+04 -7.34292279e+04 -5.74257756e+04
  -1.15533355e+05  3.12536621e+04 -9.27594868e+04  2.18877473e+04
   1.95854210e+05  2.62014665e+05 -1.87893414e+05 -3.75435121e+04
   9.89014407e+05  1.78755495e+05  6.17005838e+03 -7.72372709e+03
  -2.25165181e+04 -4.13154366e+05 -7.63803286e+04  2.55203367e+05
  -8.03244261e+04 -2.09633578e+04 -1.54690931e+04 -2.12206598e+05
  -5.18890998e+04  6.21741943e+04 -6.49444770e+04  3.60717947e+05
  -1.38937672e+05 -8.80243790e+04  5.83941141e+04 -1.31885511e+05
   1.63492012e+04 -4.37377530e+04  6.79192920e+04 -2.25843157e+05
  -1.65659129e+04  2.31765293e+04 -5.08134601e+05 -2.39847755e+05
   4.47831799e+03  5.42766013e+03  3.03589715e+04 -4.71784712e+05
  -1.90345242e+05  1.49427404e+05  1.95058173e+04  2.76436011e+05
  -2.71232739e+04  9.68582463e+04  2.50620996e+04  6.26956797e+04
  -5.05028718e+04  3.46778186e+04 -4.02372893e+04  3.86678873e+04
   5.19667269e+05  6.32765267e+04 -1.22772830e+05 -1.10843163e+05
  -6.24865009e+04  7.72165049e+05 -4.28332568e+04  4.25401302e+03
   1.99675949e+04  1.35709118e+06 -1.51020591e+04 -3.84169013e+05
  -4.40121895e+04  9.25768082e+03  1.75600382e+04 -2.72632947e+05
   1.00885943e+05 -1.00230179e+05 -7.31909047e+04  4.85662592e+02
  -1.53144821e+05  3.53643316e+04 -1.87199328e+04 -1.00528214e+06
   9.37168907e+03  1.47533759e+05 -2.99763472e+04 -3.09563133e+04
   6.82771860e+04  5.00593286e+04  3.98323814e+03  1.20231679e+05
   4.47528638e+04  6.91849307e+04  2.17465145e+04 -1.91605525e+04
  -1.31379824e+04  1.96127680e+05 -9.10537259e+03 -5.12704031e+04
  -1.26838248e+04  3.51904340e+04 -1.04911647e+05  1.66950985e+05
   3.90839540e+04 -3.61923339e+05 -1.89088093e+04 -9.45873203e+04
  -8.77690842e+04 -3.83494984e+05 -5.36694051e+04 -1.24922646e+04
   1.83175494e+05 -3.11194513e+03  2.98526539e+05  4.76270105e+05
  -1.67113296e+05 -3.32743228e+05  1.09625253e+06  1.10404124e+04
  -2.29511016e+05  1.08052846e+05 -4.91962287e+04  1.07683017e+04
  -2.24331334e+04 -3.57812557e+04  4.09652229e+04 -3.46094300e+04
  -2.72507328e+05 -2.59690219e+05  3.33230756e+05 -1.96833644e+04
   3.18801095e+05 -2.61472600e+05 -3.56754994e+06  5.80481649e+04
  -1.09887961e+05 -2.57959465e+05  5.80402944e+04 -5.37448320e+04
  -3.55328832e+04  5.02985362e+04 -1.94557551e+05  8.84229339e+04
  -1.66621221e+04  1.78675767e+04 -1.07101229e+05 -3.71363896e+05
   1.06879057e+05  2.09057027e+05 -7.84624625e+04 -2.07147531e+05
   1.49731747e+04  1.34887556e+05 -2.67810110e+05  5.73357246e+04
   4.21072818e+04 -1.15017129e+05  5.55737836e+03 -2.66629883e+05
   2.68431202e+05 -2.05070325e+04 -1.96975991e+05  7.98334347e+04
  -1.94570451e+05 -4.59059909e+04 -4.74596898e+04 -1.61414431e+05
   7.66547399e+04  3.55615584e+04  1.50673657e+04  3.94449851e+04
   9.36901051e+02 -4.97184315e+04 -7.03326161e+04  2.49591454e+05
  -6.17741165e+04 -7.05342550e+04  1.00277654e+05 -1.42288011e+05
   6.59527801e+03 -6.72697296e+05  3.49557600e+05 -3.25138395e+04
   6.45797443e+04 -9.38886302e+03  5.85751370e+05  9.02698279e+04
  -4.38457121e+05  8.15365771e+04 -1.40845230e+04 -5.20230662e+03
   5.57586296e+04  1.00267960e+05 -2.03906065e+04 -5.20049092e+03
  -2.73646479e+04  1.22781715e+04 -2.03502725e+04  1.21673553e+04
   2.37161406e+04 -2.42897825e+05  5.10187208e+03 -1.21471365e+05
   5.39887727e+03  1.44445271e+05  4.03712001e+05 -2.67777816e+05
  -3.83909347e+04 -2.32819615e+05  8.83885270e+03  7.24133041e+05
   2.61775024e+04  9.46497609e+03 -8.87560265e+03  5.63692456e+04
   4.68214135e+03  7.96118862e+03 -3.36598711e+05 -1.94399966e+05
  -1.01569413e+05  1.93323873e+04 -5.51946233e+04 -5.20853980e+05
  -1.47049643e+05 -1.77976096e+05 -3.02862260e+05  1.27502282e+05
   3.15923378e+05 -4.01586205e+04  1.26696172e+04 -1.50071847e+05
  -1.97975521e+05  3.23472567e+04  2.93277658e+04 -9.96218097e+03
   1.30332654e+05  6.85642451e+04  2.34857798e+05 -1.29787786e+06
   8.58267230e+04  6.06876900e+03  4.40608043e+03  6.48647623e+04
  -2.30354500e+05 -1.10404018e+05  8.74644659e+04 -2.42314456e+05
   1.02241635e+05 -1.19431987e+05  2.68175987e+05  1.30337814e+04
  -1.20552833e+06  1.06124089e+04  3.83191667e+04  1.27538822e+05
  -2.43679729e+04  2.24496736e+05 -3.49823976e+03  2.14834299e+05
   2.54399124e+05  9.26229039e+03 -3.90364574e+04 -3.88990838e+05
   1.04186339e+05 -7.84063816e+04 -2.21385870e+05  1.05574156e+05
   1.53890992e+04 -5.40737289e+03 -1.50045686e+05 -2.29511016e+05
   2.75604025e+05  2.01190190e+04 -2.13948748e+04 -3.01256069e+06
   7.05559617e+04 -3.05186219e+04 -3.11247601e+04  6.97925717e+04
   7.30123174e+04 -3.08852226e+04 -1.44697214e+03  4.10513003e+05
  -1.45696078e+05  6.44583164e+03 -3.27852193e+05  7.93817549e+05
  -3.90460354e+03  3.89120374e+05  3.70977416e+03 -7.77533065e+04
  -1.10300184e+05  2.25732055e+04  5.38649814e+03  6.02775727e+05
  -3.35247197e+04 -7.87033895e+04  2.67953170e+05  1.22892728e+03
  -5.25576671e+04  4.32388850e+05 -1.34269442e+05 -1.56725711e+04
  -1.55335490e+03 -3.55421361e+05 -2.15963581e+04  1.68454490e+05
   2.77757459e+04 -8.56207603e+04  3.76996672e+03 -1.61936222e+05
   9.55200803e+05  5.95337101e+04  9.01746435e+04 -4.68989786e+05
   1.74766908e+05 -6.72775341e+04  5.17970194e+04 -7.55053814e+04
   7.83004553e+04 -1.28205327e+04 -4.91097210e+04 -1.94723521e+05
  -8.33630363e+04  1.23195427e+05  5.93484303e+03  1.31630224e+05
  -3.95738318e+05 -1.26406750e+04 -2.93194486e+04 -8.50407377e+04
  -3.75140506e+04 -2.62360891e+05  7.08073606e+05 -2.26883472e+05
   8.24573854e+04 -9.71030857e+04  8.17462561e+05 -7.44796029e+04
   1.65440930e+04  1.63069158e+05 -2.56546359e+04  2.99997383e+04
   4.05907584e+04  9.93056074e+04  1.51280658e+04 -1.25910904e+05
  -2.04253252e+05 -1.79118706e+04 -1.62973492e+05  5.15243621e+04
  -1.42917102e+05 -1.31547648e+04 -1.78969053e+05 -8.46507036e+04
   4.83510938e+04 -7.92110870e+04  6.83021515e+05  2.89483090e+04
   2.01889107e+04  4.13756590e+04 -4.56715760e+05 -1.51747156e+05
  -1.65703492e+04  1.51495599e+04  2.51526210e+05 -1.60869254e+05
  -1.28946076e+05 -9.73849015e+04 -4.98281484e+04 -9.31681771e+04
   6.00813239e+04 -1.49809419e+04  1.90577176e+04  2.88795051e+03
  -4.50260715e+04  3.54298419e+04  2.14656589e+04 -9.01115873e+03
   7.41884093e+04  1.35081410e+05  2.70917685e+05  8.09193153e+04
   1.00643342e+04 -1.17736869e+05 -4.70959214e+05  1.97970516e+05
   7.69340355e+03 -1.50681476e+05 -1.48209470e+04 -8.96142939e+04
   1.84202833e+05 -1.49174086e+05 -4.60611297e+03  1.04839647e+05
  -3.03847861e+04  5.12829604e+04 -1.74019159e+05  2.81741118e+05
   5.62159649e+04 -1.52514273e+04  9.81940196e+04  1.12832246e+05
   2.75386002e+04  1.11816892e+05  3.81026576e+04  3.45898046e+05
  -2.86087203e+04 -1.10399359e+05  1.09711513e+04 -9.26857759e+04
  -4.69239226e+04 -2.08672408e+05  1.10810746e+05  1.81618098e+04
   1.15342106e+05 -2.36812421e+05  3.03387671e+05  4.92000629e+04
   3.81291407e+04 -1.50875954e+05 -8.94929896e+04 -9.13368560e+04
  -5.38588126e+05 -5.06989516e+04  6.98882106e+04 -9.65641296e+03
   5.26553796e+05 -2.03880408e+04 -1.59984306e+05  4.86725538e+04
  -1.68433344e+04  1.36152830e+05 -3.12878781e+04  2.10856573e+04
  -3.62544185e+05  3.10661216e+04  1.64200474e+05]]
Intercept:  [445829.15646659]

In [67]:
pd.set_option('display.max_rows', 100)
#df_coef['Coefficient'] = df_coef['Coefficient'].round(0)
df_coef

                Venue Category   Coefficient
342                 Laboratory -3.567550e+06
483                    Rafting -3.012561e+06
447                   Pet Café -1.297878e+06
460                Planetarium -1.205528e+06
152            College Stadium -1.134334e+06
120                     Circus -1.079164e+06
291                   Heliport -1.005282e+06
389                  Monastery -6.726973e+05
84               Burrito Place -5.631901e+05
632                 Water Park -5.385881e+05
431                Outlet Mall -5.208540e+05
250                   Fountain -5.081346e+05
151       College Soccer Field -5.007272e+05
173                    Country -5.001795e+05
255         Frozen Yogurt Shop -4.717847e+05
594              Tour Provider -4.709592e+05
523         Shaanxi Restaurant -4.689898e+05
570                Swim School -4.567158e+05
396           Motorsports Shop -4.384571e+05
134   College Basketball Court -4.253775e+05
229                   Festival -4.131544e+05
109       Caucasian Restaurant -4.048998e+05
178                   Creperie -4.045232e+05
536              Smoothie Shop -3.957383e+05
471                Prayer Room -3.889908e+05
0                          ATM -3.888537e+05
279                  Gun Range -3.841690e+05
317      Indonesian Restaurant -3.834950e+05
55          Belgian Restaurant -3.753597e+05
355                 Lighthouse -3.713639e+05
644        Xinjiang Restaurant -3.625442e+05
313  Indian Chinese Restaurant -3.619233e+05
513                 Salsa Club -3.554214e+05
426        Outdoor Event Space -3.365987e+05
325                     Island -3.327432e+05
494             Rental Service -3.278522e+05
206                  Drugstore -3.240585e+05
10              Airport Lounge -3.212029e+05
196                 Distillery -3.154995e+05
3               Adult Boutique -3.030253e+05
434            Paintball Field -3.028623e+05
185                Dairy Store -2.856930e+05
8                      Airport -2.731311e+05
283                   Gym Pool -2.726329e+05
336               Kingdom Hall -2.725073e+05
362         Mac & Cheese Joint -2.678101e+05
415                     Notary -2.677778e+05
82        Bulgarian Restaurant -2.676972e+05
367           Maternity Clinic -2.666299e+05
541             Sorority House -2.623609e+05
..                         ...           ...
61                  Board Shop  2.712057e+05
184               Cycle Studio  2.732458e+05
480                    RV Park  2.756040e+05
259                Gaming Cafe  2.764360e+05
607         Travel & Transport  2.817411e+05
49                       Beach  2.839729e+05
322               Intersection  2.985265e+05
626           Volleyball Court  3.033877e+05
436                     Palace  3.159234e+05
340          Kosher Restaurant  3.188011e+05
31       Australian Restaurant  3.223464e+05
338             Knitting Store  3.332308e+05
48                Bathing Area  3.384278e+05
142   College History Building  3.432273e+05
615             Used Bookstore  3.458980e+05
390       Mongolian Restaurant  3.495576e+05
20      Argentinian Restaurant  3.565350e+05
239              Fishing Store  3.607179e+05
497                  Residence  3.891204e+05
59                  Bike Trail  3.948503e+05
32         Austrian Restaurant  4.000774e+05
414    North Indian Restaurant  4.037120e+05
491               Rehab Center  4.105130e+05
180           Cuban Restaurant  4.205847e+05
12            Airport Terminal  4.244087e+05
509         Russian Restaurant  4.323889e+05
99                       Canal  4.616264e+05
323           Iraqi Restaurant  4.762701e+05
170      Corporate Coffee Shop  4.836900e+05
167             Cooking School  4.857041e+05
268          German Restaurant  5.196673e+05
636                       Well  5.265538e+05
67            Botanical Garden  5.744224e+05
394                      Motel  5.857514e+05
503         Rock Climbing Spot  6.027757e+05
566                Summer Camp  6.830215e+05
95        Cambodian Restaurant  7.075958e+05
542                 Soup Place  7.080736e+05
419                Opera House  7.241330e+05
273         Golf Driving Range  7.721650e+05
495           Research Station  7.938175e+05
154       College Tennis Court  8.125228e+05
546              Souvenir Shop  8.174626e+05
520        Scottish Restaurant  9.552008e+05
224                       Fair  9.890144e+05
326         Israeli Restaurant  1.096253e+06
9                 Airport Gate  1.195566e+06
277    Grilled Meat Restaurant  1.357091e+06
139      College Cricket Pitch  1.477161e+06
47                  Bath House  1.958829e+06

[647 rows x 2 columns]

In [87]:
%% bash
git clone https://github.com/OpenDataServices/flatten-tool.git
cd flatten-tool
virtualenv -p $(which python3) .ve
source .ve/bin/activate
pip install -r requirements_dev.txt

UsageError: Cell magic `%%` not found.

In [83]:
!pip install -r requirements_dev.txt

url1 = 'https://api.foursquare.com/v2/venues/categories?&client_id=QKP4KVQQZPVXMOKNIXHGQAT1E2IJZCHQPFB4XJGP3MC0CFUO&client_secret=1N5BIRBR1EA5CO1QFMNHU1241SOFM5KJLLQRJGMDC0NOYWPH&v=20180605'

results1 = requests.get(url1).json()["response"]
#print(results1)

    
#flatten JSON file
resultsCat1 = json_normalize(results1['categories'])
#print(resultsCat1)

#resultsCat2 = json_normalize(data=results1['categories'], record_path=['categories','categories'], record_prefix='cat_', errors='ignore')
#print(resultsCat2)
#resultsVenCat = pd.concat([resultsVen, resultsCat], axis=1)
#resultsVenCat = resultsVenCat[['name','location.distance','location.formattedAddress','location.lat','location.lng','cat_name']]

SyntaxError: invalid syntax (<ipython-input-83-c1c3475c3264>, line 1)